.selected-repos {
  &__repo-card {
    width: 500px;
    height: 100px;
    padding: 0 15px;
    display: flex;
    align-items: center;

    border: 1px solid #000;
    background: #e27beb;
  }

  &__repo-data {
    @include search-font(22px);
  }

  &__repo-remove {
    margin-left: auto;
    cursor: pointer;
  }
}
