.search {
  &__input {
    width: 500px;
    height: 60px;
    padding-left: 12px;

    border-radius: 5px;
    background: #fff;
    @include search-font(48px);

    &:focus {
      border: 2px solid blue;
    }
  }

  &__dropdown {
    border-radius: 5px;
    border: 2px solid #000;
    display: none;

    & > li {
      background: #e3e3e3;
      border-bottom: 2px solid #000;

      &:last-child {
        border-bottom: 0;
      }

      & > span {
        cursor: pointer;
      }
    }

    &--box-model {
      position: absolute;
      margin-top: 5px;
      z-index: 5;
    }
  }

  &__suggest {
    width: 500px;
    height: 44px;
    padding-left: 15px;
    @include search-font(30px);

    &--selected {
      background: #65cdf9;
    }
  }
}
